
main {
    padding: 20px 50px;
}
form {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: 40px auto 100px auto;
    padding: 20px;
    background-color: var(--bg-color);
    border-radius: 8px;
    box-shadow: 2px 2px 8px 2px var(--shadow-color);
}

form label {
    margin-bottom: 10px;
    font-size: 1.25rem;;
}
form p {
    margin-bottom: 25px;
    font-size: 1.125rem;;
}
form a {
    color: var(--link-color);
    text-decoration: none;
}
form a:hover {
    text-decoration: underline;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    font-size: 1rem;
}
.next-to-each-other {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
form input, form textarea {
    padding: 10px;
    border: 1px solid var(--shadow-color);
    border-radius: 4px;
    font-size: 1rem;
    background-color: var(--background-color-main);
}
.success-msg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.375rem;
    font-weight: bold;
    color: var(--text-color);
    background-color: var(--bg-color);
    box-shadow: 2px 2px 8px 2px var(--shadow-color);
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    width: 80%;
    min-width: 300px;
    height: auto;
}   
.hide {
    display: none;
}


@media screen and (max-width: 732px) {
    form {
        padding: 10px;
    }
    form h1 {
        font-size: 1.5rem;
    }
    form label, form p {
        font-size: 1rem;
    }
    form input, form textarea {
        font-size: 0.875rem;
    }
    .form-group {
        margin-bottom: 15px;
    }
    
}
@media screen and (max-width: 560px) {
    form {
        padding: 5px;
    }
    form h1 {
        font-size: 1.25rem;
    }
    form label, form p {
        font-size: 0.875rem;
    }
    form input, form textarea {
        font-size: 0.75rem;
    }
    .form-group {
        margin-bottom: 0;
    }
    .next-to-each-other {
        flex-direction: column;
    }
    
}