
:root {
    --background-color-main: #ffffff; /* Weiß für Hauptbereich */
    --background-color-secondary: #f8f8f8; /* Hellgrau für sekundären Bereich */
    --background-transparent: #ffffff60; /* Transparente weiße Farbe */
    --header-bg-color: #4194b4; /* Blau für Header */
    --bg-color: #f2f2f2; /* Hellgrau */
    --text-color: #3a3a3a; /* Dunkelgrau */
    --logo-color: #f4a300;
    --link-color: #32738e; /* Blau */
    --link-hover-color: #4195b5; /* Dunkleres Blau */
    --footer-bg-color: #3a3a3a; /* Dunkelgrau für Footer */
    --footer-text-color: #fff; /* Weiß für Footer-Text */
    --shadow-color: #32728e41;
}
@font-face {
    font-family: 'Mulish';
    src: url(../assets/fonts/static/Mulish-Light.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Mulish';
    src: url(../assets/font/static/Mulish-Bold.ttf) format('truetype');
    font-weight: 900;
    font-style: normal;
}
/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Mulish, sans-serif;
    margin: 0 auto;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color-main);
}

main {
    flex: 1;
    max-width: 1920px; /* Maximalbreite für den Inhalt */
}
section {
    padding: 30px 80px;
}
h2 {
    color: var(--text-color);
    text-shadow: var(--header-bg-color) 1px 1px 1px;
    font-size: 2.75rem;
}
button {
    background-color: var(--link-color);
    color: var(--background-color-main);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}
button:hover {
    background-color: var(--link-hover-color);
}
/* Section 1*/
section#head {
    height: 70vh;
    background-image: url(../img/background_meer.jpg);
    background-size: cover ;
    padding-top:0;
}
.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 70%;
    gap: 5%;
    padding-left: 2%;
}
#head h1 {
    font-size: 3.5rem;
    color: var(--header-bg-color);
    text-shadow: var(--text-color) 1px 1px 2px;
}
#head span {
    font-size: 2rem;
    text-shadow: var(--header-bg-color) 1px 1px 2px;
}
.hero-btn {
    width: fit-content;
    height: 20%;
    display: flex;
    border: 2px solid var(--shadow-color);
    padding: 5px;
    background-color: var(--background-color-main);
    border-radius: 20px;
    box-shadow: 2px 2px 5px 2px var(--shadow-color);
    cursor: pointer;
}
.hero-small {
    display: none; /* Hide the button on larger screens */
}
.hero-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: var(--background-color-main);
    margin: 1px;
    min-width: 100px;
}
.hero-input input, .hero-input select {
    height: 50%;
    background-color: var(--background-color-main);
    border: none;
    padding: 3px;
    font-size: 1rem;;
}
.hero-input button {
    background-color: var(--header-bg-color);
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    font-size: 1rem;
    cursor: pointer;
}
.hero-input button:hover {
    background-color: var(--link-color);
}
.border-left-right {
    border-left: 1px solid var(--shadow-color);
    border-right: 1px solid var(--shadow-color);
}
.hero-input:hover {
    background-color: var(--shadow-color);
    border-radius: 15px;
}

/*Section 2 IMMOBILIENANGEBOTE*/
.immo-container {
    max-width: 1920px;
    padding: 20px;
}
.immo-container > div.inner-immo-con {
    display: grid;
    gap: 20px;
    place-items: center;
    grid-template-columns: repeat(5, 1fr);
}
.immo-angebot {
    width: 250px;
    height: 400px;
    padding: 15px;
    margin: 15px;
    background-color: var(--background-color-secondary);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}
.immo-angebot:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.haus-img {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    border-radius: 10px;
}
#haus1 {
    background-image: url(../img/haus_1.jpg);

}
#haus2 {
    background-image: url(../img/haus_2.jpg);

}
#haus3 {
    background-image: url(../img/haus_3.jpg);

}
#haus4 {
    background-image: url(../img/haus_4.jpg);
}
#haus5 {
    background-image: url(../img/haus_5.jpg);
}
.haus-img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}
.haus.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.scroller[data-animated="true"] {
    max-width: 1440px;
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg, transparent, black 5%, black 95%, transparent);
    mask: linear-gradient(90deg, transparent, black 5%, black 95%, transparent);
}
.scroller[data-animated="true"] .inner-scroler {
    display: flex;
    width: fit-content;
    flex-wrap: nowrap;
    animation: scroll 30s linear infinite;
}
.scroller[data-animated="true"] .inner-scroler:hover {
    animation-play-state: paused;
}   
@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}

/*Section 3 SERVICE*/

section#service {
    margin: 0;
    padding: 0;
}
.service-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin:0;
}
.service-item {
    width: 100%;
    position: relative;
}
.service-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.service-item h3 {
    position: absolute;
    bottom: 100px;
    left: 0;
    color: var(--background-color-main);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    font-size: 1.5rem;
}
.service-item p {
    position: absolute;
    bottom: 0;
    left: 0;
    color: var(--background-color-main);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    font-size: 1rem;
}
.service-item:hover h3 {
    background-color: rgba(0, 0, 0, 0.7);
}
.service-item:hover img {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

@media screen and (max-width: 1669px) {
    .immo-container > div.inner-immo-con {
        grid-template-columns: repeat(3, 1fr);
    }
    .immo-angebot {
        width: 300px;
        height: 450px;
    }

}
@media screen and (max-width: 1249px) {
    .immo-container > div.inner-immo-con {
        grid-template-columns: repeat(3, 1fr);
    }
    .immo-angebot {
        width: 250px;
        height: 450px;
    }
}
@media screen and (max-width: 1084px) {
    .immo-container > div.inner-immo-con {
        grid-template-columns: repeat(2, 1fr);
    }
    .immo-angebot {
        width: 300px;
        height: 450px;
    }
    .service-container {
    grid-template-columns: repeat(2, 1fr);
}
}

@media screen and (max-width: 893px) {
    
    .immo-angebot {
        width: 250px;
        height: 450px;
        margin: 5px;
    }
}
@media screen and (max-width: 756px) {
    
    section#unsere_immobilien, #service {
        padding: 20px;
    }
}
@media screen and (max-width: 635px) {
    
    #unsere_immobilien h2, #service h2 {
        font-size: 2rem;
        margin-bottom: 20px;
    }
    .immo-container > div.inner-immo-con {
        grid-template-columns: repeat(1, 1fr);
    }
    .immo-angebot {
        width: 100%;
        height: 450px;
    }
    .scroller[data-animated="true"] {
        max-width: 100%;
        overflow: hidden;
        -webkit-mask: none;
        mask: none;
    }
    .scroller[data-animated="true"] .inner-scroler {
        display: flex;
        width: fit-content;
        flex-wrap: nowrap;
    }
}/* Responsive Design for Hero Section */
@media  (max-width: 893px) {
    section#head {
        background-position: 50% 100%;
        height: 60vh;
        width: 100%;
    }
    .hero-container {
        height: fit-content;
        margin: 15% 0 0 0;
        padding: 20px;
        gap: 50px;
        background-color: var(--background-transparent);
        border-radius: 10px;
    }
    
}
@media (max-width: 768px) {
    section#head {
        height: 50vh;
    }
    
    #head h1 {
        font-size: 2.5rem;
    }
    #head span {
        font-size: 1.5rem;
    }
    .hero-btn {
        display: none; /* Hide the button on smaller screens */
    }
    button.hero-small {
        display:block;
        width: 80%;
    }
}
@media screen and (max-width:619px) {
    section#head {
        padding: 10px;
    }
    #head h1 {
        font-size: 2rem;
        margin-block-start:0;
        margin-block-end:0;
    }
    #head h2 {
        font-size: 1rem;
    }
    .service-container {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
    .service-item {
        height: 300px;
    }
}

@media (max-width: 424px) {
    .hero-container {
        margin: auto;
    }
}